<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
<link rel ="stylesheet" type="text/css" href="/css/game_over.css"/>
<div id="game_over">
  <%= @game.loser.name %> loses!
</div>
